*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-wrap: balance;
}

p {
    margin: 0;
    text-wrap: pretty;
}

ul, ol {
    padding: 0;
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    color: currentColor;
}

.full {
    grid-column: 1 / -1;
}

body {
    display: grid;
    grid-template-columns: minmax(10px, 1fr), minmax(auto, 1200px), minmax(10px, 1fr);
    place-items: center;

    background-color: rgb(196, 176, 154);    
    font-family: Arial, Helvetica, sans-serif;
}

body > * {
    margin: 20px;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;

    padding: 20px;
}

.info-container > *:not(img) {
    padding: 10px;
}

.info-container h2 {
    font-weight: 400;
}

.info-container span {
    font-weight: bold;
}